@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: rgb(243 244 246);
  }

  .sidebar-active {
    @apply p-2 relative rounded-full bg-gray-100 me-2;
  }

  .sidebar-active a {
    @apply bg-white p-3 rounded-full text-primary shadow-sm;
  }

  .sidebar-open {
    @apply fixed bg-white h-screen top-0 left-0 w-60 overflow-x-hidden transition-all duration-300 ease-in scrollbar-none z-[2000] border border-gray-100;
  }

  .sidebar-close {
    @apply fixed bg-white h-screen top-0 left-0 w-0 overflow-x-hidden transition-all duration-300 ease-in scrollbar-none z-[2000];
  }

  .scrollbar-none {
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .w-open-sidebar {
    @apply relative transition-all duration-300 ease-in;
    left: 15rem;
    width: calc(100% - 15rem);
  }

  .w-close-sidebar {
    @apply relative transition-all duration-300 ease-in;
    left: 0;
    width: 100%;
  }

  .a-primary {
    @apply text-primary hover:text-primary_hover transition-all duration-300 ease-in;
  }

  .btn-rounded-icon {
    @apply text-gray-600 bg-gray-100 rounded-full p-2 flex items-center justify-center me-2 hover:text-primary;
  }

  .popup-notif {
    @apply absolute w-80 h-96 rounded-md bg-white border border-gray-100 shadow-sm -right-5 top-12;
  }

  .notif-li {
    @apply border-b-gray-200 border-b text-sm text-gray-600 hover:bg-gray-100 px-4 py-2 transition-all duration-300 ease-in;
  }

  .simple-transition {
    @apply transition-all duration-300 ease-in;
  }

  .popup-profile {
    @apply absolute w-48 rounded-md bg-white border border-gray-100 shadow-sm right-5 top-12;
  }

  .profile-li {
    @apply flex items-center gap-2 p-4 text-gray-600 cursor-pointer hover:bg-gray-100 hover:text-primary simple-transition;
  }

  .input-primary {
    @apply border border-gray-400 rounded-md py-1.5 w-full px-4 focus:border-primary focus:outline-none text-gray-600;
  }

  .btn-outline-primary {
    @apply flex items-center gap-1 border-primary border rounded-md text-gray-600 hover:bg-primary hover:text-white simple-transition;
  }

  .btn-outline-danger {
    @apply flex items-center gap-1 border-red-500 border rounded-md text-gray-600 hover:bg-red-500 hover:text-white simple-transition;
  }

  /* * {
    border: 1px solid red;
  } */
}
